img {
    border: 3px solid #9D1535;
    max-width: 30%;
    max-height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 0% auto;
    width: 10%;
}

.p,
.pp,
.ppp,
.Latin,
.Asian,
.American,
.Italian {
    display: table-cell;
}

ul {
    list-style-type: none;
}

#checkboxes {
    margin-left: auto;
    margin-right: auto;
}

#flexbox {
    display: flex;
    flex-wrap: wrap;
}

#flexbox div {
    flex: 1 1 33%;
    text-align: center;
}

@media (max-width: 900px) {
    #flexbox div {
        flex: 1 1 50%;
    }
}

@media (max-width: 600px) {
    #flexbox div {
        flex: 1 1 100%;
    }
}